* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

.topo-fixed {
    width: 100%;
    height: 70px;
    background-color: #fffaff;
    position: fixed;
    
}

.topo {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    max-height: 70px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.logo a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    color: #595858
} 

.logo span {
    color: rgba(35, 145, 185, 0.789);
}

.links-navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.links-navegacao a{
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: #595858;
}

.links-navegacao a:hover {
    border-bottom:3px solid rgba(35, 145, 185, 0.789);
    
}

.banner {
    width:100%;
    height: 600px;
    background-image: url("../assets/img-fundo.jpg");
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.titulo-banner {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 250px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #338e60ac;
    gap: 50px;
    box-shadow: 0 0 15px 5px #2f7979;
    
}

.titulo-banner h1 {
    
    font-size: 70px;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.titulo-banner p {
    font-size: 25px;
    color: #fff;
    
}

.main {
    width: 100%;
    max-width: 1024px;
    padding: 70px 0 0 0;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

.subtitulo {
    width: 80%;
    display:flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 10px;
    color:#595858
}

.subtitulo h2 {
        font-size: 30px;
        font-weight: 400;
        padding: 20px ;
}

.subtitulo p {
    text-align: center;
}

.secao-quartos img {
    width: 100%;
    height: 100%;
}

.secao-quartos {
    width: 100%;
    max-width: 1024px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;   
}

.secao-quartos div {
    width: 320px;
    height: 240px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;   
}

.secao-quartos a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: #595858;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid rgba(35, 145, 185, 0.789);
    background-color: rgba(240, 248, 255, 0.618);
}

.rota {
    width: 100%;
    padding: 70px 15px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.maps { 
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;

}

.secao-sobre {
    width: 100%;
    max-width: 1024px;
    padding: 40px 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 50px
}

.card {
    width: 340px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    
   
    
}

.card div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
    
}


.card img {
    width: 92px; 
    height: 110px;
}

.rodape {
    width: 100%;
    background-color: #338e60;   
}

.limit-rodape {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;

}

.limit-rodape div {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

}

.limit-rodape a {
    text-decoration: none;
    color: #fff;
}

.copy {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    display: block;
    align-items: center;
    border-top: 1px solid #1e5b31;
    
}


